# executables
*.exe

# IO files
*.txt
/testcases

# vscode files
*.json
/.vscode

# solution and generator codes
/flashCodingChallenge1/generator-codes
*.cpp
/flashCodingChallenge1/solutions
/flashCodingChallenge2/generator-codes
/flashCodingChallenge2/solutions

# zip files
*.zip

# other documentation files
*.xlsx
*.pdf
*.docx